In [8]:
import pandas as pd

In [1]:
my_list = [1, 2, 3, 4, 5]

In [3]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [6]:
my_list[::-1]

[5, 4, 3, 2, 1]

In [57]:
df = pd.read_csv('only_last.csv', sep=';')

In [58]:
df.head()

,address,adm_district,city_district,lattitude,longitude
0,"город Москва, улица Егора Абакумова, дом 9",Северо-восточный,Ярославский,55.878996,37.714462
1,"город Москва, улица Талалихина, дом 2/1, корпус 1",Центральный,Таганский,55.738298,37.673337
2,"город Москва, Абельмановская улица, дом 6",Центральный,Таганский,55.735528,37.669516
3,"город Москва, Абрамцевская улица, дом 1",Северо-восточный,Лианозово,55.892653,37.573036
4,"город Москва, Абрамцевская улица, дом 9, корпус 1",Северо-восточный,Лианозово,55.904126,37.572181

In [59]:
df.adm_district.unique()

array(['Северо-восточный', 'Центральный', 'Юго-восточный', 'Западный',
       'Юго-западный', 'Северный', 'Восточный', 'Южный',
       'Северо-западный', 'Зеленоградский', 'Троицкий', 'Новомосковский',
       nan], dtype=object)

In [60]:
df.shape

(15366, 5)

In [61]:
df.address.nunique()

9085

In [62]:
grouped_df =  df.groupby(['adm_district', 'city_district']) \
    .agg({'lattitude': 'mean', 'longitude': 'mean'}) \
    .reset_index()

In [63]:
pivot_df = grouped_df.pivot(index='adm_district', columns= 'city_district', values = 'lattitude').fillna(0)

In [64]:
pivot_df.head()

city_district,Академический,Алексеевский,Алтуфьевский,Арбат,Аэропорт,Бабушкинский,Басманный,Беговой,Бескудниковский,Бибирево,...,Чертаново Центральное,Чертаново Южное,Щукино,Южное Бутово,Южное Медведково,Южное Тушино,Южнопортовый,Якиманка,Ярославский,Ясенево
adm_district,,,,,,,,,,,,,,,,,,,,,
Восточный,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Западный,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Зеленоградский,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Новомосковский,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Северный,0.0,0.0,0.0,0.0,55.802004,0.0,0.0,55.784528,55.867772,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
pivot_df.sort_values(by = 'Арбат', ascending = False).head(10)

city_district,Академический,Алексеевский,Алтуфьевский,Арбат,Аэропорт,Бабушкинский,Басманный,Беговой,Бескудниковский,Бибирево,...,Чертаново Центральное,Чертаново Южное,Щукино,Южное Бутово,Южное Медведково,Южное Тушино,Южнопортовый,Якиманка,Ярославский,Ясенево
adm_district,,,,,,,,,,,,,,,,,,,,,
Центральный,0.0,0.000000,0.000000,55.751137,0.000000,0.000000,55.763301,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.00000,0.000000,55.733163,0.000000,0.0
Восточный,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,0.000000,0.0
Зеленоградский,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,0.000000,0.0
Западный,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,0.000000,0.0
Новомосковский,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,0.000000,0.0
Северный,0.0,0.000000,0.000000,0.000000,55.802004,0.000000,0.000000,55.784528,55.867772,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,0.000000,0.0
Северо-западный,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,55.800362,0.0,0.000000,55.84477,0.000000,0.000000,0.000000,0.0
Северо-восточный,0.0,55.814521,55.879761,0.000000,0.000000,55.868705,0.000000,0.000000,0.000000,55.891729,...,0.0,0.0,0.000000,0.0,55.872609,0.00000,0.000000,0.000000,55.865552,0.0
Троицкий,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,0.000000,0.0
Юго-восточный,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.00000,55.714484,0.000000,0.000000,0.0

In [66]:
pivot_df[['Арбат']].sort_values(by = 'Арбат', ascending = False).head(10)

city_district         Арбат
adm_district
Центральный       55.751137
Восточный          0.000000
Зеленоградский     0.000000
Западный           0.000000
Новомосковский     0.000000
Северный           0.000000
Северо-западный    0.000000
Северо-восточный   0.000000
Троицкий           0.000000
Юго-восточный      0.000000

In [67]:
print(pivot_df[['Арбат']].sort_values(by = 'Арбат', ascending = False).head(10))

city_district         Арбат
adm_district
Центральный       55.751137
Восточный          0.000000
Зеленоградский     0.000000
Западный           0.000000
Новомосковский     0.000000
Северный           0.000000
Северо-западный    0.000000
Северо-восточный   0.000000
Троицкий           0.000000
Юго-восточный      0.000000

In [68]:
(df[df.city_district == 'Арбат'].groupby(['adm_district', 'city_district']) \
    .agg({'lattitude': 'mean', 'longitude': 'mean'}) \
    .sort_values(by = 'lattitude', ascending = False))

                            lattitude  longitude
adm_district city_district
Центральный  Арбат          55.751137  37.591079