In [2]:
# Шаг 6_8_1

# Pandas-100 (11-20)

# Урок разработан на основе репозитория Pandas-100 Puzzles - https://github.com/ajcr/100-pandas-puzzles

# Постарайтесь не подглядывать в ответы. =)

In [17]:
# Шаг 6_8_2

# 11

# Переменная df содержит DataFrame.

# Переменная filter_names содержит список имён столбцов по которым происходит фильтрация

# Переменная filter_values содержит список из 2 значений по которым происходит фильтрация. 1 значение проверяется на равенство. 2 значение должно быть меньше указанного в фильтре.

# Выведите только те строки датафрейма, которые удовлетворяют условиям обоих фильтров.

# В 1 примере мы выводим данные обо всех животных (имя столбца = 'animal'), являющихся кошками (значение = 'cat'), возраст (имя столбца = 'age') которых меньше 3 (значение = 3).

import pandas as pd
import numpy as np

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

filter_names = ["animal", "age"]
filter_values = ["cat", 3]

# Sample Output 1:
#   animal  age    name  visits priority
# a    cat  2.5  Murzik       1      yes
# f    cat  2.0  Vaska       3       no

# Sample Input 2:
df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

filter_names = ["designation", "age"]
filter_values = ["VP", 40]

# Sample Output 2:
#   name  age designation
# 0 Alex   20          VP
# 4 Ella   18          VP

In [41]:
df[df[filter_names[1]] < filter_values[1]]

     name  age designation
0    Alex   20          VP
1     Bob   27         CEO
2  Carmen   35         CFO
4    Ella   18          VP
5  Forman   21         CEO
6    Glen   35          MD

In [48]:
# Итоговый ответ:
print(df[(df[filter_names[0]] == filter_values[0]) & (df[filter_names[1]] < filter_values[1])])

# Справка, правда для Series: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#boolean-indexing

   name  age designation
0  Alex   20          VP
4  Ella   18          VP

In [72]:
# Шаг 6_8_3

# 12

# Переменная df содержит DataFrame.

# Переменная age_between содержит 2 числа

# Выведите только те строки датафрейма, возраст в которых находится в интервале между числами age_between (включая границы).

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

age_between = [2, 4]

# Sample Output 1:
#   animal  age    name  visits priority
# a    cat  2.5  Murzik       1      yes
# b    cat  3.0  Pushok       3      yes
# f    cat  2.0  Vaska        3       no
# j    dog  3.0  Muhtar       1       no

# Sample Input 2:
df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

age_between = [21, 55]

# Sample Output 2:
#       name  age designation
# 1      Bob   27         CEO
# 2   Carmen   35         CFO
# 3     Diaz   55          VP
# 5   Forman   21         CEO
# 6     Glen   35          MD

In [73]:
print(df[(df['age'] >= age_between[0]) & (df['age'] <= age_between[1])])

     name  age designation
1     Bob   27         CEO
2  Carmen   35         CFO
3    Diaz   55          VP
5  Forman   21         CEO
6    Glen   35          MD

In [86]:
# Можно ещё так:
print(df[df['age'].between(*age_between, inclusive = 'both')])
# Дока: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.between.html

     name  age designation
1     Bob   27         CEO
2  Carmen   35         CFO
3    Diaz   55          VP
5  Forman   21         CEO
6    Glen   35          MD

In [87]:
# Или даже без inclusive:
print(df[df['age'].between(*age_between)])

     name  age designation
1     Bob   27         CEO
2  Carmen   35         CFO
3    Diaz   55          VP
5  Forman   21         CEO
6    Glen   35          MD

In [136]:
# Шаг 6_8_4

# 13.1

# Переменная df содержит DataFrame.

# Переменная index содержит строку ИЛИ число (индекс)

# Увеличьте значение возраста в строке индексом равным index на 1.

# Выведите df на печать.

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

index = 'f'

# Sample Output 1:
#   animal  age    name  visits priority
# a    cat  2.5  Murzik       1      yes
# b    cat  3.0  Pushok       3      yes
# c  snake  0.5     Kaa       2       no
# d    dog  NaN   Bobik       3      yes
# e    dog  5.0 Strelka       2       no
# f    cat  3.0   Vaska       3       no
# g  snake  4.5    Kaa2       1       no
# h    cat  NaN   Murka       1      yes
# i    dog  7.0    Graf       2       no
# j    dog  3.0  Muhtar       1       no

# Sample Input 2:
df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

index = 2

# Sample Output 2:
#       name  age designation
# 0     Alex   20          VP
# 1      Bob   27         CEO
# 2   Carmen   36         CFO
# 3     Diaz   55          VP
# 4     Ella   18          VP
# 5   Forman   21         CEO
# 6     Glen   35          MD

In [ ]:
if type(index) is int:
    df['age'].iloc[index] += 1
    # print(df['age'].iloc[index])
elif type(index) is str:
    df['age'].loc[index] += 1
    # print(df['age'].loc[index])
print(df)

In [137]:
df.at[index, 'age'] += 1
# print(df.at[index, 'age'])

# Дока для pandas.DataFrame.at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html

print(df)

     name  age designation
0    Alex   20          VP
1     Bob   27         CEO
2  Carmen   36         CFO
3    Diaz   55          VP
4    Ella   18          VP
5  Forman   21         CEO
6    Glen   35          MD

In [179]:
# Шаг 6_8_5

# 13.2

# Переменная df содержит DataFrame.

# Увеличьте значение возраста во всех строках на 1.

# Выведите df на печать.

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

# Sample Output 1:
#   animal  age    name  visits priority
# a    cat  3.5  Murzik       1      yes
# b    cat  4.0  Pushok       3      yes
# c  snake  1.5     Kaa       2       no
# d    dog  NaN   Bobik       3      yes
# e    dog  6.0 Strelka       2       no
# f    cat  3.0   Vaska       3       no
# g  snake  5.5    Kaa2       1       no
# h    cat  NaN   Murka       1      yes
# i    dog  8.0    Graf       2       no
# j    dog  4.0  Muhtar       1       no

# Sample Input 2:
df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

# Sample Output 2:
#       name  age designation
# 0     Alex   21          VP
# 1      Bob   28         CEO
# 2   Carmen   36         CFO
# 3     Diaz   56          VP
# 4     Ella   19          VP
# 5   Forman   22         CEO
# 6     Glen   36          MD

In [176]:
df['age'] += 1
# df['age']
print(df)

     name  age designation
0    Alex   21          VP
1     Bob   28         CEO
2  Carmen   36         CFO
3    Diaz   56          VP
4    Ella   19          VP
5  Forman   22         CEO
6    Glen   36          MD

In [180]:
df['age'] = df['age'].apply(lambda x: x+1)
print(df)

# Дока по apply: https://pandas.pydata.org/pandas-docs/version/0.18/generated/pandas.Series.apply.html

     name  age designation
0    Alex   21          VP
1     Bob   28         CEO
2  Carmen   36         CFO
3    Diaz   56          VP
4    Ella   19          VP
5  Forman   22         CEO
6    Glen   36          MD

In [14]:
# Шаг 6_8_6

# 14.1

# Переменная df содержит DataFrame.

# Выведите на печать сумму всех возрастов в df.

import numpy as np
import pandas as pd

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

# Sample Output 1:
# 27.5

# Sample Input 2:
df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

# Sample Output 2:
# 211

In [16]:
print(df['age'].sum())

# Дока: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html

211

In [63]:
# Шаг 6_8_7

# 14.2

# Переменная df содержит DataFrame.

# Выведите на печать для каждого столбца, содержащего числа его имя и сумму через двоеточие.

# В рамках этой задачи мы гарантируем, что числами являются int64 и float64 https://docs.scipy.org/doc/numpy-1.10.4/user/basics.types.html, однако в общем виде имеет смысл использовать проверку на принадлежность к классу.

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

# Sample Output 1:
# age:27.5
# visits:19

# Sample Input 2:
df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

# Sample Output 2:
# age:211

In [38]:
tab = df.sum(numeric_only = True)
print(tab)

age    211
dtype: int64

In [64]:
col = list(df.columns.values)
for i in col:
     # print(df[i].dtypes)
     if df[i].dtype in ('int64', 'float64'):
         print(f'{df[i].name}:{df[i].sum()}')

# Дока: https://stackoverflow.com/questions/19482970/get-a-list-from-pandas-dataframe-column-headers

age:211

In [85]:
# Шаг 6_8_8

# 15

# Переменная df содержит DataFrame.

# Переменная group_by содержит имя колонки по которой производится группировка.

# Найдите среднее значение возраста по всем записям, сгруппированным по значению в колонке group_by и выведите на печать.

# Например, если group_by='animal', то для первого Dataframe надо получить таблицу со средними для каждого вида животных: кошек, собак, змей.

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

group_by = "animal"

# Sample Output 1:
# animal
# cat      2.5
# dog      5.0
# snake    2.5
# Name: age, dtype: float64

# Sample Input 2:

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})
group_by = "designation"

# Sample Output 2:
# designation
# CEO          24
# CFO          35
# MD           35
# VP           31
# Name: age, dtype: int64

In [86]:
dfg = df.groupby(by = group_by)
print(dfg.mean('age')['age'])

designation
CEO    24.0
CFO    35.0
MD     35.0
VP     31.0
Name: age, dtype: float64

In [93]:
print(df.groupby(by = group_by).mean('age')['age'])

# Доки
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html
# Попроще и нагляднее:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.DataFrameGroupBy.mean.html

designation
CEO    24.0
CFO    35.0
MD     35.0
VP     31.0
Name: age, dtype: float64

In [94]:
# Почему-то в СТепике правильный ответ такой, хотя у меня не работает:
print(df.groupby(by = group_by).mean()['age'])

TypeError: agg function failed [how->mean,dtype->object]

In [148]:
# Шаг 6_8_9

# 16

# Переменная df содержит DataFrame.

# • new_index - индекс для строки, которую надо добавить
# • new_data - значения для строки, которую надо добавить
# • del_index - индекс строки, которую надо удалить

# Добавьте новую строку (с индексом new_index и значениями new_data) и удалите одну из старых (del_index)

# Выведите df на печать.

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

new_index = "k"
new_data = [5.5, "dog", "Belka", "no", 2]
del_index = "f"

# Sample Output 1:
#   animal  age    name visits priority
# a    cat  2.5  Murzik      1      yes
# b    cat  3.0  Pushok      3      yes
# c  snake  0.5     Kaa      2       no
# d    dog  NaN   Bobik      3      yes
# e    dog  5.0 Strelka      2       no
# g  snake  4.5    Kaa2      1       no
# h    cat  NaN   Murka      1      yes
# i    dog  7.0    Graf      2       no
# j    dog  3.0  Muhtar      1       no
# k    dog  5.5   Belka      2       no

# Sample Input 2:

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})
new_index = 42
new_data = [33, "MD", "Aleksey"]
del_index = 3

# Sample Output 2:
#       name  age designation
# 0     Alex   20          VP
# 1      Bob   27         CEO
# 2   Carmen   35         CFO
# 4     Ella   18          VP
# 5   Forman   21         CEO
# 6     Glen   35          MD
# 42  Aleksey   33          MD

df

     name  age designation
0    Alex   20          VP
1     Bob   27         CEO
2  Carmen   35         CFO
3    Diaz   55          VP
4    Ella   18          VP
5  Forman   21         CEO
6    Glen   35          MD

In [146]:
df.loc[new_index] = new_data
df

      name age designation
0     Alex  20          VP
1      Bob  27         CEO
2   Carmen  35         CFO
3     Diaz  55          VP
4     Ella  18          VP
5   Forman  21         CEO
6     Glen  35          MD
42      33  MD     Aleksey

In [147]:
df = df.drop(index = del_index)
# print(del_index)
print(df)

      name age designation
0     Alex  20          VP
1      Bob  27         CEO
2   Carmen  35         CFO
4     Ella  18          VP
5   Forman  21         CEO
6     Glen  35          MD
42      33  MD     Aleksey

In [ ]:
# Итоговый ответ:
df.loc[new_index] = new_data
df = df.drop(index = del_index)
print(df)

In [149]:
# Либо так:
df.loc[new_index] = new_data
df.drop(index = del_index, inplace = True)
print(df)

      name age designation
0     Alex  20          VP
1      Bob  27         CEO
2   Carmen  35         CFO
4     Ella  18          VP
5   Forman  21         CEO
6     Glen  35          MD
42      33  MD     Aleksey