In [2]:
# Шаг 6_7_1

# Pandas-100 (1-10)

# Урок разработан на основе репозитория Pandas-100 Puzzles - https://github.com/ajcr/100-pandas-puzzles

# Постарайтесь не подглядывать в ответы. =)

In [1]:
# Шаг 6_7_2

# 1

# Импортируйте модуль pandas как pd

# Примечание. В этой задаче не нужно ничего считывать и ничего выводить на печать.

import pandas as pd

In [5]:
# Шаг 6_7_3

# 2

# Выведите на печать версию модуля pandas, используемую в текущий момент в песочнице Stepik.

import pandas as pd

print(pd.__version__)

2.3.3

In [15]:
# Шаг 6_7_4

# Полезная функция для получения сводной информации обо всех библиотеках, сопряжённых с pandas.
# Не совсем верно говорить, что эти библиотеки "необходимы для работы" pandas, ведь, например, scipy не используется в pandas, но фигурирует в этом списке.

# Однако, Pandas часто становится инструментом предобработки и источником данных для scipy.

# Так же, полезен атрибут as_json, по умолчанию он имеет значение False. Если установить его в True, то результат будет представлять JSON.

# ВАЖНО!
# Функция по умолчанию выводит на печать результат своей работы, а не возвращает значение.

# Пример кода из урока:
import pandas as pd

s = pd.show_versions()

INSTALLED VERSIONS
------------------
commit                : 9c8bc3e55188c8aff37207a74f1dd144980b8874
python                : 3.13.0
python-bits           : 64
OS                    : Windows
OS-release            : 11
Version               : 10.0.26100
machine               : AMD64
processor             : AMD64 Family 25 Model 97 Stepping 2, AuthenticAMD
byteorder             : little
LC_ALL                : en_US.UTF-8
LANG                  : en_US.UTF-8
LOCALE                : Russian_Russia.1251

pandas                : 2.3.3
numpy                 : 2.2.6
pytz                  : 2025.2
dateutil              : 2.9.0.post0
pip                   : 25.0.1
Cython                : None
sphinx                : None
IPython               : 9.6.0
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.14.2
blosc                 : None
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : 2025.9.0
html5lib              : None
hypothesis            : None
gcsfs                 : None
jinja2                : 3.1.6
lxml.etree            : 6.0.2
matplotlib            : 3.10.7
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : None
pandas_gbq            : None
psycopg2              : 2.9.11
pymysql               : None
pyarrow               : None
pyreadstat            : None
pytest                : 8.4.2
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : 1.16.2
sqlalchemy            : 2.0.44
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
xlsxwriter            : None
zstandard             : None
tzdata                : 2025.2
qtpy                  : None
pyqt5                 : None

In [16]:
# То же самое, но в json формате:
s = pd.show_versions(as_json = True)

{
  "system": {
    "commit": "9c8bc3e55188c8aff37207a74f1dd144980b8874",
    "python": "3.13.0",
    "python-bits": 64,
    "OS": "Windows",
    "OS-release": "11",
    "Version": "10.0.26100",
    "machine": "AMD64",
    "processor": "AMD64 Family 25 Model 97 Stepping 2, AuthenticAMD",
    "byteorder": "little",
    "LC_ALL": "en_US.UTF-8",
    "LANG": "en_US.UTF-8",
    "LOCALE": {
      "language-code": "Russian_Russia",
      "encoding": "1251"
    }
  },
  "dependencies": {
    "pandas": "2.3.3",
    "numpy": "2.2.6",
    "pytz": "2025.2",
    "dateutil": "2.9.0.post0",
    "pip": "25.0.1",
    "Cython": null,
    "sphinx": null,
    "IPython": "9.6.0",
    "adbc-driver-postgresql": null,
    "adbc-driver-sqlite": null,
    "bs4": "4.14.2",
    "blosc": null,
    "bottleneck": null,
    "dataframe-api-compat": null,
    "fastparquet": null,
    "fsspec": "2025.9.0",
    "html5lib": null,
    "hypothesis": null,
    "gcsfs": null,
    "jinja2": "3.1.6",
    "lxml.etree": "6.0.2",
    "matplotlib": "3.10.7",
    "numba": null,
    "numexpr": null,
    "odfpy": null,
    "openpyxl": null,
    "pandas_gbq": null,
    "psycopg2": "2.9.11",
    "pymysql": null,
    "pyarrow": null,
    "pyreadstat": null,
    "pytest": "8.4.2",
    "python-calamine": null,
    "pyxlsb": null,
    "s3fs": null,
    "scipy": "1.16.2",
    "sqlalchemy": "2.0.44",
    "tables": null,
    "tabulate": null,
    "xarray": null,
    "xlrd": null,
    "xlsxwriter": null,
    "zstandard": null,
    "tzdata": "2025.2",
    "qtpy": null,
    "pyqt5": null
  }
}

In [20]:
# Шаг 6_7_5

# Данные для отладки

# Во всех следующих задачах рекомендуется проверить работу своего кода на следующем наборе исходных данных для создания датафреймов:

import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [22]:
# Шаг 6_7_6

# Создайте Dataframe из словаря data. В качестве подписей строк используйте список labels.
# Результат сохраните в переменную df.

# Примечание. В этой задаче не нужно ничего считывать и ничего выводить на печать.

# Sample Input 1:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Sample Output 1:
#   animal  age  visits priority
# a    cat  2.5       1      yes
# b    cat  3.0       3      yes
# c  snake  0.5       2       no
# d    dog  NaN       3      yes
# e    dog  5.0       2       no
# f    cat  2.0       3       no
# g  snake  4.5       1       no
# h    cat  NaN       1      yes
# i    dog  7.0       2       no
# j    dog  3.0       1       no

# Sample Input 2:
data = {'name':['john','mary','peter','jeff','bill','lisa'],
        'age':[23,78,22,19,45,33],
        'state':['iowa','dc','california','texas','washington','dc'],
        'num_children':[2,2,0,1,2,1],
        'num_pets':[0,4,0,5,0,0]}

labels = range(6)

# Sample Output 2:
#   name  age       state  num_children  num_pets
# 0 john   23       iowa             2         0
# 1 mary   78         dc             2         4
# 2 peter  22  california             0         0
# 3 jeff   19      texas             1         5
# 4 bill   45  washington             2         0
# 5 lisa   33         dc             1         0

import pandas as pd

df = pd.DataFrame(data, index = labels)

print(df)

# Дока: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

    name  age       state  num_children  num_pets
0   john   23        iowa             2         0
1   mary   78          dc             2         4
2  peter   22  california             0         0
3   jeff   19       texas             1         5
4   bill   45  washington             2         0
5   lisa   33          dc             1         0

In [147]:
# Шаг 6_7_7

# Переменная df содержит DataFrame.
# Переменная col содержит имя колонки
# Переменная row содержит имя ИЛИ индекс строки

# Выведите на печать содержимое ячейки

# Sample Input 1:
col = "animal"
row = "e"
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no'],
                   'index': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']})

# Sample Output 1:
# dog

# Sample Input 2:
col = "name"
row = 2
df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

# Sample Output 2:
# Carmen

import pandas as pd

print(df.loc[row, col])

Carmen

In [2]:
# Шаг 6_7_8

# pandas.DataFrame.info

# Документация - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html

# Функция info() используется для вывода сводной информации об объекте DataFrame.

# По умолчанию вы получаете информацию о:
# • индексах (или именах строк)
# • количество колонок
# • сводная информация по количеству непустых (ne null) записей в каждом столбце, с указанием имён столбцов и типом представленных записей
# • Список типов (с указанием количества столбцов с такими типами)
# • Объём памяти, используемый для всего DataFrame

# Использование буфера

# По умолчанию функция выводит результат работы сразу на печать.
# Нельзя заставить её вернуть значение.

# Однако, можно создать свой собственный буфер, аналогичный стандартному потоку вывода (STDOUT), который используется для печати на экран. После этого, данные из буфера можно будет считать и при необходимости отформатировать.

# Пример из документации:
import io
buffer = io.StringIO()
df.info(buf=buffer)
s = buffer.getvalue()
s

# Дальнейшая обработка данных может включать их "разрезание" или более сложную обработку:
s.splitlines()

L = []
for line in s.splitlines():
    L.append(line.split())
L

[['<class', "'pandas.core.frame.DataFrame'>"],
 ['RangeIndex:', '7', 'entries,', '0', 'to', '6'],
 ['Data', 'columns', '(total', '3', 'columns):'],
 ['#', 'Column', 'Non-Null', 'Count', 'Dtype'],
 ['---', '------', '--------------', '-----'],
 ['0', 'name', '7', 'non-null', 'object'],
 ['1', 'age', '7', 'non-null', 'int64'],
 ['2', 'designation', '7', 'non-null', 'object'],
 ['dtypes:', 'int64(1),', 'object(2)'],
 ['memory', 'usage:', '300.0+', 'bytes']]

In [ ]:
# Шаг 6_7_9

# Переменная df содержит DataFrame.

# Выведите на печать:
# • число непустых (не null) значений в колонке 'age'
# • 75% квантиль для значений в колонке 'age'

# Подсказка: Вам может пригодиться функция https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

# Sample Output 1:
# 8.0
# 4.625

# Sample Input 2:
df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

# Sample Output 2:
# 7.0
# 35.0

In [69]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

# print(df['age'].count().astype(float))
# print(df['age'].quantile(0.75))
print(df['age'].describe().loc['count'])
print(df['age'].describe().loc['75%'])

7.0
35.0

In [86]:
# Шаг 6_7_10

# 6.1

# Переменная df содержит DataFrame.

# Выведите на печать 3 первых строки.

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

# Sample Output 1:
#   animal  age  visits priority
# a    cat  2.5       1      yes
# b    cat  3.0       3      yes
# c  snake  0.5       2       no

# Sample Input 2:
df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

# Sample Output 2:
#   name  age designation
# 0 Alex   20          VP
# 1  Bob   27         CEO
# 2 Carmen   35         CFO

import pandas as pd
import numpy as np

print(df[:3])
# print(df.head(3))

     name  age designation
0    Alex   20          VP
1     Bob   27         CEO
2  Carmen   35         CFO

In [154]:
# Себе отмечу:
print(df.head(3)[['name']])

     name
0    Alex
1     Bob
2  Carmen

In [124]:
# Шаг 6_7_11

# 6.2

# Переменная df содержит DataFrame.

# Выведите на печать строки с индексами 0, 2, 3.

# Важно. Обратите внимание, что хотя у 1-ого Dataframe назначены произвольные строки в качестве индексов, к ним тем не менее можно обратиться и по их порядковым значениям!

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

# Sample Output 1:
#   animal  age  visits priority
# a    cat  2.5       1      yes
# c  snake  0.5       2       no
# d    dog  NaN       3      yes

# Sample Input 2:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},
                 index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

# Sample Output 2:
#   name  age designation
# 0 Alex   20          VP
# 2 Carmen   35         CFO
# 3  Diaz   55          VP

In [147]:
print(df.iloc[[0,2,3], :])

# Дока: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html

# .loc - используется для доступа по строковой метке
# .iloc - используется для доступа по числовому значению (начиная от 0)

     name  age designation
0    Alex   20          VP
2  Carmen   35         CFO
3    Diaz   55          VP

In [149]:
# Шаг 6_7_12

# 7

# Переменная df содержит DataFrame.

# Выведите на печать только столбцы 'name' и 'age' (гарантируется, что они есть)

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

# Sample Output 1:
#       name  age
# a   Murzik  2.5
# b   Pushok  3.0
# c      Kaa  0.5
# d    Bobik  NaN
# e  Strelka  5.0
# f    Vaska  2.0
# g     Kaa2  4.5
# h    Murka  NaN
# i     Graf  7.0
# j  Muhtar  3.0

# Sample Input 2:
df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

# Sample Output 2:
#       name  age
# 0     Alex   20
# 1      Bob   27
# 2   Carmen   35
# 3     Diaz   55
# 4     Ella   18
# 5   Forman   21
# 6     Glen   35

print(df[['name', 'age']])

     name  age
0    Alex   20
1     Bob   27
2  Carmen   35
3    Diaz   55
4    Ella   18
5  Forman   21
6    Glen   35

In [170]:
# Шаг 6_7_13

# 8

# Переменная df содержит DataFrame.

# Выведите на печать только столбцы 'name' и 'age' И строки 0, 2, 3 (гарантируется, что они есть)

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

# Sample Output 1:
#       name  age
# a   Murzik  2.5
# c      Kaa  0.5
# d    Bobik  NaN

# Sample Input 2:
df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

# Sample Output 2:
#       name  age
# 0     Alex   20
# 2   Carmen   35
# 3     Diaz   55

print(df[['name', 'age']].iloc[[0,2,3]])

     name  age
0    Alex   20
2  Carmen   35
3    Diaz   55

In [ ]:
# Шаг 6_7_14

# Как для отдельных столбцов и строк, так и для целых таблиц Dataframe возможно проводить логические операции.

# Обычно это используется для фильтрации данных. Например, для выбора только тех столбцов/строк, для которых выполняется какое-то условие

In [178]:
# Шаг 6_7_15

# 9

# Переменная df содержит DataFrame.

# Выведите на печать только данные, относящиеся к записям, возраст которых больше, указанного в переменной critical_age.

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

critical_age = 3

# Sample Output 1:
#   animal  age    name  visits priority
# e    dog  5.0 Strelka       2       no
# g  snake  4.5    Kaa2       1       no
# i    dog  7.0    Graf       2       no

# Sample Input 2:
df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

critical_age = 30

# Sample Output 2:
#       name  age designation
# 2   Carmen   35         CFO
# 3     Diaz   55          VP
# 6     Glen   35          MD

In [182]:
print(df[df['age'] > critical_age])

     name  age designation
2  Carmen   35         CFO
3    Diaz   55          VP
6    Glen   35          MD

In [2]:
# Шаг 6_7_16

# 10

# Переменная df содержит DataFrame.

# Выведите на печать только данные, в которых не заполнен возраст (в графе 'age' стоит null).

# Sample Input 1:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

# Sample Output 1:
#   animal  age    name  visits priority
# d    dog  NaN   Bobik       3      yes
# h    cat  NaN   Murka       1      yes

# Sample Input 2:
df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

# Sample Output 2:
# Empty DataFrame
# Columns: [name, age, designation]
# Index: []

In [19]:
df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})


import numpy as np
import pandas as pd

print(df[df['age'].isna()])

Empty DataFrame
Columns: [name, age, designation]
Index: []