In [6]:
# Шаг 6_9_1

# Группировка таблиц Pandas DataFrame

# Авторы урока - Задойный Алексей, Александр Павлов

# Потребность в группировке данных вполне очевидна и иллюстрируется, например, ситуацией, когда у вас есть список всех студентов с указанием их групп и оценками, а вы хотите узнать «средний балл» для каждой группы (или журнал со списком оценок учеников за четверть и вы хотите получить среднюю оценку для выставления четвертной).

# Такую задачу можно легко решить «в лоб» с помощью прохождения по всему массиву данных в цикле (однако, мы уже знаем, что циклы for в python довольно медленные, а векторные операции в питире быстрые).

# Поэтому в Pandas есть специальная функция groupby.

# В простейшем случае использование этой функции можно разделить на 3 этапа:

# 1. Фильтрация
# 2. Группировка
# 3. Применение итоговой функции

# Рассмотрим на примере со студентами (students.csv в приложении):
import pandas as pd
from pandas.conftest import ordered

df = pd.read_csv('students.csv')
df

# 1. Фильтрация

# На этом этапе мы должны взять из фрейма только ту часть, которая будет использоваться для группировки, т.е. только столбцы двух видов:
# • Виды групп (в случае со студентами это в прямом смысле группы)
# • То, к чему мы будем применять итоговую функцию, то что мы будем изучать по группам (в нашем случае оценки)

df[['Group', 'Mark']]

# 2. Группировка

# Вызываем метод groupby() датафрейма, в качестве аргумента которого передаём список названий колонок, которые используем для группировки (в нашем случае список из одного значения – колонки, где хранятся названия групп)

df[['Group', 'Mark']].groupby(['Group'])

# 3. Применение итоговой функции

# Вызываем метод (в нашем случае для вычисления среднего), который будет применён к каждой группе.

# Важно учитывать, что этот метод будет применяться к тем, колонкам, которые НЕ перечислены в группировке (в нашем случае к колонкам с оценками).

# Примеры часто используемых методов:
# • mean() – среднее
# • sum() – сумма
# • count() – подсчёт количества элементов
# • min()/max() – минимальное/максимальное значение
# • median() – медиана
# • другие методы - https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html#computations-descriptive-stats

df[['Group', 'Mark']].groupby(['Group']).mean() # Среднее

# Это самый простой пример использования группировок в Pandas.

           Mark
Group
А      4.000000
Б      4.333333

In [2]:
import pandas as pd
df = pd.read_csv('students.csv')
df

   Lastname Group  Mark
0    Иванов     А     5
1    Петров     А     4
2   Сидоров     А     3
3  Кузнецов     Б     5
4     Попов     Б     4
5   Смирнов     Б     4

In [5]:
# Количество уникальных элементов
df[['Group', 'Mark']].groupby(['Group']).nunique()

       Mark
Group
А         3
Б         2

In [8]:
# Шаг 6_9_2

# В файле torg.csv представлена выгрузка со склада интернет-магазина.

# Обратите внимание на нестандартный разделитель!

# Товаров какого цвета больше всего на складе?

# Примечание. Ответом к задаче является цвет, а не код.

import pandas as pd
df = pd.read_csv('torg.csv', sep = ';')
df

,IE_XML_ID,IE_NAME,IP_PROP30,IP_PROP31,IP_PROP32,CP_QUANTITY,CR_PRICE_1_USD
0,179,Штаны Полосатый Рейс,purple,NaN,L,99,29.06
1,181,Штаны Полосатый Рейс,purple,NaN,XL,100,29.06
2,182,Штаны Полосатый Рейс,purple,NaN,XS,100,29.06
3,183,Штаны Полосатый Рейс,purple,NaN,M,100,29.06
4,184,Штаны Полосатый Рейс,purple,NaN,S,100,29.06
...,...,...,...,...,...,...,...
270,639,Ремень Грубая Кожа,brown,NaN,L,100,10.39
271,641,Ремень Грубая Кожа,brown,NaN,XL,100,10.39
272,642,Ремень Грубая Кожа,brown,NaN,XS,100,10.39
273,643,Ремень Грубая Кожа,brown,NaN,M,100,10.39
274,644,Ремень Грубая Кожа,brown,NaN,S,100,10.39

In [45]:
# Тут нужно решать немножко "не в лоб"
df[['IP_PROP30', 'CP_QUANTITY']].groupby('IP_PROP30')['CP_QUANTITY'].sum().sort_values(ascending = False)

IP_PROP30
black        5000
white        4999
brown        3500
red          2497
purple       2199
pink         2000
blue         1800
green        1499
see          1000
azure         500
flowers       500
jeans         500
redblue       499
orangered     498
Name: CP_QUANTITY, dtype: int64

In [61]:
# Шаг 6_9_3

# В файле torg.csv представлена выгрузка со склада интернет-магазина.

# Сгруппируйте размеры представленных товаров по суммарному количеству единиц товара на складе.

# Учитывайте, что результат группировки (после применения итоговой функции) - обычный датафрейм, т.е. к нему применимы все обычные функции, например, https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

# Отсортируйте размеры по увеличению остатков на складе.

# Если товаров одного размера одинаковое количество, то размеры сортируются "лексикографически" (да, мы не будем морочиться)

import pandas as pd

df = pd.read_csv('torg.csv', sep = ';')
df

print(df[['IP_PROP32', 'CP_QUANTITY']].groupby('IP_PROP32')['CP_QUANTITY'].sum().sort_values(ascending = True))

IP_PROP32
M     4198
S     4198
XS    4299
L     4397
XL    4399
Name: CP_QUANTITY, dtype: int64

In [62]:
print(df.groupby('IP_PROP32')['CP_QUANTITY'].sum().sort_values(ascending = True))

IP_PROP32
M     4198
S     4198
XS    4299
L     4397
XL    4399
Name: CP_QUANTITY, dtype: int64

In [ ]:
# Шаг 6_9_4

# А что будет, если опустить этап фильтрации?

# В нашем конкретном случае ничего страшного не случится:

import pandas as pd
df = pd.read_csv('students.csv')
df.groupby(['Group']).mean()

# Однако, если бы наши данные были чуть сложнее (например, датасет CSV содержал бы внутренний ID студента в базе данных института), то можно было бы нарваться на такой казус:

import pandas as pd
df_with_ID = pd.read_csv('students_with_ID.csv')
df_with_ID

df_with_ID.groupby(['Group']).mean()

# Почему так происходит, что в одном случае никакого мусора не вылезло, а в другом появилась лишняя колонка?
# Всё дело в том, что применяемая функция пытается примениться ко всем колонкам, которые не переданы в группировку. Но как найти среднее для фамилии, которые представлены строками? Никак. Вот умная библиотека и отбрасывает лишнюю колонку.

# A ID в данном случае тоже числа, для чисел операция взятия среднего определена, поэтому мы и нашли "средний" ID для каждой группы (мне кажется, довольно бесполезная величина).

# Можно ли поменять местами этапы?

# Да, можно поменять местами этап фильтрации и группировки.

# Но следует учитывать, что если вы фильтруете ДО группировки, то необходимо указать все участвующие столбцы (и те, что группируют и те, что используются для функции), а если ПОСЛЕ, то только те, что используются функцией.

df.groupby(['Group'])['Mark'].mean()
# эквивалентно
df[['Group', 'Mark']].groupby(['Group']).mean()

df.groupby(['Group'])[['Mark']].mean()

df[['Group', 'Mark']].groupby(['Group']).mean()

In [ ]:
# Шаг 6_9_5

# А что за "объект" мы получили после применения метода groupby?

# Об объектах в целом мы поговорим в уроке про ООП.

# Но уже сейчас можно заметить, что этот "объект" умеет итерироваться, т.е. по его элементам можно пройтись в цикле:

import pandas as pd
df = pd.read_csv('students.csv')
df.groupby(['Group'])

for element in df.groupby(['Group']):
    print(type(element))
    print(element)
    print()

# Как видно внутри у него содержатся кортежи (tuple).

# Причём первый элемент кортежа - это всегда индекс в нашей будущей группировке, а второй... Если присмотреться ко второму, то окажется, что это Датафрейм, вырезанный из исходного так, чтобы в группируемом столбце было всегда одно и то же значение.

type(element[1])
element[1]

# Это приводит к очень важному (хотя и очевидному) выводу:

# Нельзя сгруппировать по тому, чего нет

# Поясним на примере.
# Предположим, у вас есть лог каких-то событий с указанием даты. Вы хотите сгруппировать их по датам и узнать сколько событий произошло в какой день.

# Если в какой-то день НЕ ПРОИЗОШЛО ни одного события, то у вас просто не будет ни одной записи с этой датой, а значит, в итоговой группировке, не будет точки со значением "0 событий" в эту дату.

# Почему это опасно?
# 1. Если вы строите график по точкам, то в указанную дату должен быть провал до 0, однако вы его не увидите, а просто соедините соседние точки (и если масштаб достаточно мал, то не заметите этого).
# 2. Если вы вычисляете среднее по нескольким таким значениям (например, сколько в среднем событий происходит по понедельникам), то вы неверно учтёте количество событий и исказите среднее (это справедливо и для других вычисляемых величин).

In [ ]:
# Шаг 6_9_6

# Можно ли сделать группировку по 2 (3/4/...) полям?

# Предположим, что в наш институт перевели несколько девушек в те же самые группы. И нам интересно узнать данные о средней успеваемости не только в разрезе групп, но и в разрезе пола (как бы неполиткорректно это не звучало, но мы хотим проверить гипотезу о том, что девушки более прилежные и лучше учатся).

import pandas as pd
df = pd.read_csv('students_with_sex.csv')
df

# Алгоритм остаётся прежним, просто на этапе группировки передаём список строк с названиями всех колонок, по которым мы хотим группировать данные:

df.groupby(['Group', 'sex']).mean()

In [ ]:
# Шаг 6_9_7

# Может возникнуть вопрос "а почему" результат выглядит так странно? Названия колонок явно "сдвинуты" по вертикали:

df.groupby(['Group', 'sex']).mean()

# В этом легко убедиться с помощью простого трюка, присвоив какое-нибудь имя колонке индексов обычного датафрейма:

import pandas as pd
df = pd.read_csv('students_with_sex.csv')
df

df.index.names = ['!!!']
df

# Но тогда какие же индексы у строк?
# Обычные индексы-кортежи, т.е. пары из двух колонок 'Group' и 'sex':

group = df.groupby(['Group', 'sex']).mean()
group

group.loc[('A', 'ж'),]

group.loc[('A', 'ж')]

# Как привести такой датафрейм к привычному виду?
# Можно использовать метод reset_index() - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html

group.reset_index()

# Другой способ убрать индексы - это сразу не тащить их в группировку с помощью атрибута as_index:

df.groupby(['Group', 'sex'], as_index=False).mean()

In [201]:
# Шаг 6_9_8

# В этом задании представлена выгрузка складских остатков (выгрузка отличается от ранее представленной тем, что при каждом решении генерируется новая выгрузка из 200 позиций).

# Найдите суммарную стоимость всех розовых (pink) вещей большого размера (XL).

# Учитывайте, что цена указана за 1 единицу товара.

# У вас есть неограниченное число попыток.
# Время одной попытки: 5 mins

import pandas as pd
df = pd.read_csv('dataset_345422_8.txt', sep = ';')
df2 = df[['IP_PROP30', 'IP_PROP32', 'CR_PRICE_1_USD']].groupby(['IP_PROP30', 'IP_PROP32']).sum()
df3 = df2.loc[('pink', 'XL')]
print(df3.iloc[0].astype(float))
# Ответ не принимается ни в каком варианте, хотя он верный

60.46

In [202]:
df3 = df[['IP_PROP30', 'IP_PROP32', 'CR_PRICE_1_USD']].groupby(['IP_PROP30', 'IP_PROP32']).count()
df3.loc[('pink', 'XL')]

CR_PRICE_1_USD    3
Name: (pink, XL), dtype: int64